.testimonials-box {
  align-content: flex-end;
  flex-wrap: wrap;
  border-radius: 20px;
  border: 1px solid rgba(99, 115, 181, 0.25);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  max-width: 395px;
  flex-direction: column;
  padding: 40px 30px;
  margin-bottom: 30px;

  .div-2 {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    white-space: nowrap;
  }

  .div-3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0 1px;
  }

  .div-4 {
    background-color: #587dbd;
    border-radius: 50%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    height: 44px;
    color: var(--white, #fff);
    padding: 9px 12px;
    font: 400 24px/100% Montserrat, sans-serif;
  }

  .div-5 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    line-height: 120%;
  }

  .div-6 {
    color: var(--black, #080c1b);
    font: 600 20px Work Sans, sans-serif;
  }

  .div-7 {
    color: var(--text, #666b81);
    margin-top: 15px;
    font: 300 16px Work Sans, sans-serif;
  }

  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 32px;
  }

  .img-2 {
    aspect-ratio: 5.26;
    object-fit: auto;
    object-position: center;
    width: 134px;
    margin-top: 30px;
    max-width: 100%;
  }

  .div-8 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: var(--text, #666b81);
    text-overflow: ellipsis;
    margin-top: 38px;
    font: 400 18px/29px Work Sans, sans-serif;
  }

  .div-9 {
    color: var(--fiolet-primary, #6373b5);
    margin-top: 30px;
    font: 500 16px/75% Poppins, sans-serif;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0px 10px 45px 0px rgba(99, 115, 181, 0.25);
  }
}