.testimonials-box {
  align-content: flex-end;
  flex-wrap: wrap;
  border-radius: 1.26rem;
  border: 0.063rem solid rgba(99, 115, 181, 0.25);
  backdrop-filter: blur(0.63rem);
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  max-width: 24.885rem;
  flex-direction: column;
  padding: 2.52rem 1.89rem;
  margin-bottom: 1.89rem;

  .div-2 {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-between;
    gap: 1.26rem;
    white-space: nowrap;
  }

  .div-3 {
    display: flex;
    justify-content: space-between;
    gap: 1.26rem;
    padding: 0 0.063rem;
  }

  .div-4 {
    background-color: #587dbd;
    border-radius: 50%;
    aspect-ratio: 1;
    justify-content: center;
    align-items: center;
    height: 2.772rem;
    color: var(--white, #fff);
    padding: 0.567rem 0.756rem;
    font: 400 1.512rem/100% Montserrat, sans-serif;
  }

  .div-5 {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    line-height: 120%;
  }

  .div-6 {
    color: var(--black, #080c1b);
    font: 600 1.26rem Work Sans, sans-serif;
  }

  .div-7 {
    color: var(--text, #666b81);
    margin-top: 0.945rem;
    font: 300 1.008rem Work Sans, sans-serif;
  }

  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 2.016rem;
  }

  .img-2 {
    aspect-ratio: 5.26;
    object-fit: auto;
    object-position: center;
    width: 8.442rem;
    margin-top: 1.89rem;
    max-width: 100%;
  }

  .div-8 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    color: var(--text, #666b81);
    text-overflow: ellipsis;
    margin-top: 2.394rem;
    font: 400 1.134rem/1.827rem Work Sans, sans-serif;
  }

  .div-9 {
    color: var(--fiolet-primary, #6373b5);
    margin-top: 1.89rem;
    font: 500 1.008rem/75% Poppins, sans-serif;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0rem 0.63rem 2.835rem 0rem rgba(99, 115, 181, 0.25);
  }
}