.el-consultum-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.504rem;
  color: var(--white, #fff);
  margin: auto 0;

  .div-3 {
    align-self: stretch;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    font: 700 1.638rem Work Sans, sans-serif;
    text-decoration: none;
    color: #ffffff;

    &:hover {
      color: #ffffff;
    }
  }
}

@media screen and (max-width: 991px) { //991
  .el-consultum-logo img {
    width: 1.764rem;
  }
}