@mixin el-lets-start{
  border-radius: 12.6rem;
  box-shadow: 0rem 0.63rem 2.835rem 0rem rgba(99, 115, 181, 0.25);
  backdrop-filter: blur(0.63rem);
  background-color: var(--white, #fff);
  display: flex;
  justify-content: space-between;
  gap: 1.26rem;
  font-size: 1.512rem;
  color: var(--fiolet-primary, #6373b5);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding: 0.63rem 0.63rem 0.63rem 1.575rem;
  width: 18.144rem;
  text-decoration: none;
  line-height: 0;

  .div-2 {
    font-family: Work Sans, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
  }

  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 4.41rem;
  }
}

.el-lets-start{
  @include el-lets-start;
}