section.banner {
  background-image: url("./assets/img/hero_section.webp");
  background-size: cover;
  background-position: top;
  border-radius: 0 0 4.41rem 4.41rem;
  padding-bottom: 5.355rem;

  .text {
    position: relative;
    padding: 20.664rem 1.008rem 10.899rem;
    margin: 0 auto;
    text-align: left;

    color: #ffffff;
    font-family: Work Sans, sans-serif;
    font-size: 6.3rem;
    font-weight: 500;
    line-height: 120%;
    max-width: 58.779rem;

    span {
      background-color: #B8DFF0;
      border-radius: 3.15rem;
      color: #6373b5;
      font-style: italic;
      padding: 0 1.89rem 0 0.63rem;
      line-height: 7.119rem;
      display: inline-block;
    }
  }

  .el-lets-start {
    position: absolute;
    right: 0;
    top: 22.05rem;
    line-height: 0;
  }

  .buttom-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.26rem;
  }

  .google-r-block {

    span {
      color: rgb(255, 255, 255);
      font-family: Work Sans, sans-serif;
      font-size: 1.26rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0rem;
      text-align: left;
      padding-right: 0.63rem;
    }

    .stars {
      width: 5.67rem;
      position: relative;
      top: -0.063rem;
    }

    img {
      width: 10.08rem;
    }
  }

  .reviews-block,
  .trustpilot-block {

    color: rgb(255, 255, 255);
    font-family: Work Sans, sans-serif;
    font-size: 1.26rem;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0rem;
    text-align: left;

    span {
      padding-top: 0.63rem;
      display: inline-block;
    }
  }

  .reviews-block {
    img {
      width: 9.828rem;
    }
  }

  .trustpilot-block {
    img {
      width: 11.97rem;
    }
  }

  .excellent-block {
    img {
      width: 12.285rem;
    }

    span {
      color: rgb(255, 255, 255);
      font-family: Work Sans, sans-serif;
      font-size: 1.26rem;
      font-weight: 500;
      line-height: 100%;
      letter-spacing: 0rem;
      text-align: left;
      display: inline-block;
      padding-bottom: 0.504rem;
    }
  }

  @media screen and (max-width: 600px) {
    .el-lets-start {
      position: relative;
      top: initial;
      right: initial;
      width: 100%;
    }

    .text {
      font-size: 3.654rem;
      padding: 9rem 1.008rem 2rem;

      span {
        // padding: 0 0.63rem 0 0.63rem;
        line-height: 4rem;
        margin-bottom: 2.52rem;
        font-size: 3.15rem;
      }
    }

    .google-r-block {
      img {
        width: 10rem;
      }

      order: 1;
    }

    .reviews-block {
      img {
        width: 10rem;
      }

      order: 2;
    }

    .trustpilot-block {
      img {
        width: 10rem;
      }

      order: 3;
    }

    .excellent-block {
      img {
        width: 10rem;
      }

      order: 4;
    }

    .el-social {
      order: 5;
      margin: 0 auto;
      padding-top: 1.89rem;
    }

    .el-phone-block {
      order: 6;
      margin: 0 auto;
      margin-top: 1.89rem;
    }
  }

  @media screen and (max-width: 420px) {
    .text {
      span {
        line-height: 3rem;
        font-size: 2.7rem;
      }
    }
  }
}