section.business-plans {
  background-color: #EBECF2;

  h2 {
    padding-top: 5.04rem;
    padding-bottom: 4.41rem;
    font-family: Work Sans;
    font-size: 5.04rem;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;

    span {
      color: #6373B5;
      font-style: italic;
    }
  }

  .business-plans-block {
    background-image: url("./assets/img/smiling-woman-with-flag.webp");
    background-repeat: no-repeat;
    background-size: 37.359rem 42.651rem;
    background-position: right bottom;
    padding-bottom: 4.662rem;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    max-width: 69.3rem;
    align-items: flex-start;
    gap: 1.89rem;

    .box-plan {
      gap: 1.89rem;
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;
      border-radius: 1.26rem;
      background: rgba(255, 255, 255, 0.6);
      padding: 2.52rem;
      color: rgb(8, 12, 27);
      font-family: Work Sans;
      font-size: 2.394rem;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: 0%;
      text-align: left;
      width: 100%;
      max-width: 33.012rem;

      &:hover {
        color: #6373B5;
      }
    }
  }

  @media screen and (max-width: 800px) { //800
    h2 {
      font-size: 3.024rem; //48
    }
  }

  @media screen and (max-width: 600px) { //600
    .business-plans-block {
      background-image: none;
    }
  }
}