section.frequently-asked {
  padding-top: 5.04rem;

  .inside-block {
    display: flex;
  }

  .desc,
  .faq {
    flex: 1;
  }

  .desc h2 {
    color: rgb(0, 0, 0);
    font-family: Work Sans, sans-serif;
    font-size: 5.04rem;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    padding-bottom: 3.15rem;
  }

  .desc {
    position: relative;
    height: 52.92rem;

    img {
      position: absolute;
      left: -8.82rem;
      width: 51.093rem;
      height: 31.5rem;
    }
  }

  .faq {
    .accordion-button {
      padding: 2.52rem 2.52rem 1.89rem;
    }

    .accordion-body {
      padding: 0 2.52rem 2.52rem;
      color: rgb(102, 107, 129);
      font-family: Work Sans, sans-serif;
      font-size: 1.134rem;
      font-weight: 400;
      line-height: 160%;
      text-align: left;
    }

    .accordion-item {
      box-sizing: border-box;
      border: 0.063rem solid rgb(235, 236, 242);
      border-radius: 1.26rem;
      background: rgba(255, 255, 255, 0.6);
      margin-bottom: 1.26rem;
    }

    .accordion-button {
      background-color: #E5F3FA;
      color: rgb(8, 12, 27);
      font-family: Work Sans, sans-serif;
      font-size: 1.512rem;
      font-weight: 600;
      line-height: 140%;
      text-align: left;

      &::after {
        background-image: url("./assets/img/plus.webp");
        transform: scale(.7) !important;
        position: absolute;
        right: 1.512rem;
        top: 1.512rem;
      }

      &:not(.collapsed) {
        background-color: initial;
        box-shadow: initial;

        &::after {
          background-image: url("./assets/img/minus.webp");
        }
      }
    }
  }

  @media screen and (max-width: 1000px) { //1000
    .inside-block {
      flex-direction: column;
    }

    .desc {
      height: initial;
      padding-bottom: 3.15rem;

      img {
        position: relative;
      }
    }
  }

  @media screen and (max-width: 600px) { //600
    .desc {
      img {
        left: -1.008rem;
        width: 100%;
        height: initial;
      }
    }
  }
}