body,
html {
  margin: 0;
  padding: 0;
}

div.custom-containder {
  max-width: 105.336rem; //1672
  padding: 0 1.008rem; //0 16
  margin: 0 auto;
}

div.custom-containder-plus {
  max-width: 120.96rem;
  padding: 0 1.008rem;
  margin: 0 auto;
}

.g-arrow-right-top {
  background-image: url("./assets/img/industry_arrow_top.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 4.41rem; //70
  height: 4.41rem; //70
}

.g-arrow-left-top {
  background-image: url("./assets/img/industry_arrow_top.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  transform: scale(-1, 1);
  min-width: 4.41rem; //70
  height: 4.41rem; //70
}

.g-arrow-right-top-hover {
  &:hover {
    .g-arrow-right-top {
      background-image: url("./assets/img/industry_arrow_bottom.svg");
      background-size: 100%;
    }
  }
}

.g-arrow-left-top-hover {
  &:hover {
    .g-arrow-left-top {
      background-image: url("./assets/img/industry_arrow_bottom.svg");
      background-size: 100%;
      transform: scale(-1, 1);
    }
  }
}

/* ------ fix size , gum ------ */
html {
  font-size: 1.008rem;
}

@media (max-width: 107.1rem) {
  html {
    font-size: 0.8505rem;
  }
}

@media (max-width: 88.2rem) {
  html {
    font-size: 0.7182rem;
  }
}

@media (max-width: 75.6rem) {
  html {
    font-size: 0.63rem;
  }
}

@media (max-width: 69.3rem) {
  html {
    font-size: 0.567rem;
  }
}

@media (max-width: 37.8rem) {
  html {
    font-size: 1.008rem;
  }
}

/* --------------- fix size END ----------- */

h2 {
  font-family: Work Sans;
  font-size: 5.04rem;
  font-weight: 600;
  line-height: 120%;
}

@media screen and (max-width: 37.8rem) {
  h2 {
    font-size: 3rem !important;
    overflow-wrap: break-word;
  }
}

.highlight-blue-circle {
  background-color: #B8DFF0;
  border-radius: 3.15rem;
  color: #6373b5;
  font-style: italic;
  padding: 0 1.89rem 0 0.63rem;
  font-family: Work Sans, sans-serif;
}

.highlight-blue {
  color: #6373B5;
  font-style: italic;
}

.check-mark-tick {
  position: relative;
  font-family: Work Sans, sans-serif;
  text-align: left;
  padding-left: 2.52rem;

  &:before {
    left: 0;
    top: 0.189rem;
    content: "";
    width: 1.575rem;
    height: 1.512rem;
    background-image: url(./assets/img/check.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
  }
}

ul {
  list-style-type: none;
  margin: 0;
}

// .collapsible-seo {
//   display: grid;
//   grid-template-rows: 0fr;
//   position: relative;
//   transition: grid-template-rows 1000ms;

//   .blocks{
//     overflow: hidden;
//   }
// }

// .collapsible-seo-expend {
//   grid-template-rows: 1fr;
// }