section.how-it-works {
  padding: 5.04rem 0;

  .title {
    background-color: #080C1B;
    border-radius: 6.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.63rem 8.82rem;
    align-items: center;
  }

  .text {
    color: #ffffff;
    font-family: Work Sans, sans-serif;
    font-size: 5.04rem;
    font-weight: 600;
    line-height: 120%;
    text-align: leftu
  }

  .plan {
    color: #ffffff;
    font-family: Work Sans, sans-serif;
    font-size: 1.512rem;
    font-weight: 700;
    line-height: 160%;
    text-align: center;

    span {
      color: #6373B5;
    }
  }

  .description {
    color: #080C1B;
    font-family: Work Sans, sans-serif;
    font-size: 1.26rem;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
    max-width: 43.47rem;
    margin: 0 auto;
    padding: 3rem 0 4.4rem;

    span {
      font-weight: 700;
    }
  }

  .space {
    height: 0.1rem;
    background: radial-gradient(0.315rem 0.063rem, #EBECF2 100%, transparent 100%) 0 0/0.945rem 100%;
  }

  .steps-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .step {
      max-width: 25.2rem;
      width: 100%;
      display: flex;
      position: relative;
      align-items: flex-start;

      img {
        padding-top: 2.52rem;
        position: relative;
        width: 7.434rem;
      }
    }

    .after-img {
      position: relative;

      &::before {
        content: '';
        height: 2.52rem;
        width: 2.52rem;
        position: absolute;
        left: 50%;
        top: 0;
        // background: radial-gradient(0.315rem 0.063rem, #EBECF2 100%, transparent 100%) 0 0/0.945rem 100%;
        // background: radial-gradient(0.063rem 0.063rem, transparent 0, #EBECF2 100%);
        background: repeating-radial-gradient(circle, transparent 0, transparent 0.315rem, #EBECF2 0.063rem, #EBECF2 0.945rem);
        width: 0.126rem;
      }
    }

    .desc {
      color: #666B81;
      font-family: Work Sans, sans-serif;
      font-size: 1.26rem;
      font-weight: 400;
      line-height: 120%;
      text-align: left;
      padding: 2.52rem 1.26rem 0;
    }
  }

  .bottom-block {
    text-align: center;
    padding-top: 3.78rem;
  }

  @media screen and (max-width: 1000px) {

    //1430
    .steps-block {
      .after-img:before {
        content: initial;
      }

      .step {
        max-width: 50%;
      }
    }

    .text {
      font-size: 3.024rem;
      width: 100%;
      text-align: center;
    }

    .plan {
      width: 100%;
      text-align: center;
    }
  }

  @media screen and (max-width: 800px) {

    //800
    .steps-block {
      .step {
        max-width: 100%;
      }
    }

    .title{
      padding: 0;
      border-radius: 2rem;
    }
  }

  @media screen and (max-width: 600px) {

    //500
    .steps-block {
      .step {
        img {
          width: 5rem;
        }
      }
    }

  }
}