section.how-it-works {
  padding: 80px 0;

  .title {
    background-color: #080C1B;
    border-radius: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 140px;
    align-items: center;
  }

  .text {
    color: #ffffff;
    font-family: Work Sans, sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 120%;
    text-align: leftu
  }

  .plan {
    color: #ffffff;
    font-family: Work Sans, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
    text-align: center;

    span {
      color: #6373B5;
    }
  }

  .description {
    color: #080C1B;
    font-family: Work Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    text-align: center;
    max-width: 690px;
    margin: 0 auto;
    padding: 40px 0 80px;

    span {
      font-weight: 700;
    }
  }

  .space {
    height: 1px;
    background: radial-gradient(5px 1px, #EBECF2 100%, transparent 100%) 0 0/15px 100%;
  }

  .steps-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .step {
      max-width: 400px;
      width: 100%;
      display: flex;
      position: relative;
      align-items: flex-start;

      img {
        padding-top: 40px;
        position: relative;
      }
    }

    .after-img {
      position: relative;

      &::before {
        content: '';
        height: 40px;
        width: 40px;
        position: absolute;
        left: 50%;
        top: 0;
        // background: radial-gradient(5px 1px, #EBECF2 100%, transparent 100%) 0 0/15px 100%;
        // background: radial-gradient(1px 1px, transparent 0, #EBECF2 100%);
        background: repeating-radial-gradient(circle, transparent 0, transparent 5px, #EBECF2 1px, #EBECF2 15px);
        width: 2px;
      }
    }

    .desc {
      color: #666B81;
      font-family: Work Sans, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
      text-align: left;
      padding: 40px 20px 0;
    }
  }

  .bottom-block {
    text-align: center;
    padding-top: 40px;
  }

  @media screen and (max-width: 1660px) {
    .steps-block {
      .step {
        max-width: 325px;
      }
    }
  }

  @media screen and (max-width: 1430px) {
    .steps-block {
      .after-img:before {
        content: initial;
      }

      .step {
        max-width: 50%;
      }
    }
  }

  @media screen and (max-width: 900px) {
    .steps-block {
      justify-content: space-around;
      .step {
        max-width: 325px;
      }
    }
    .text{
      font-size: 48px;
      width: 100%;
      text-align: center;
    }

    .plan{
      width: 100%;
      text-align: center;
    }

    .title{
      padding: 10px 30px;
    }
  }
}