section.industry-plans {
  .industry-plans-block {
    display: flex;
    flex-wrap: wrap;
    gap: 1.26rem;
    padding-bottom: 5.04rem;
    justify-content: center;
  }

  h2 {
    padding: 5.04rem 0 3.78rem;
    font-family: Work Sans, sans-serif;
    font-size: 5.04rem;
    font-weight: 600;
    line-height: 120%;
    text-align: center;

    span {
      color: #526498;
      font-style: italic;
    }
  }
}