#masthead section.menu {
  z-index: 1000;
  border-radius: 0rem 0rem 3.15rem 3.15rem;
  backdrop-filter: blur(0.315rem);
  background-color: #080c1b;
  display: flex;
  justify-content: space-between;
  padding: 1.575rem 2.331rem;
  align-items: center;
  max-width: 103.32rem;
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  .navbar-nav .dropdown-item {
    color: #ffffff;
  }

  .img {
    aspect-ratio: 0.85;
    object-fit: auto;
    object-position: center;
    width: 2.457rem;
    align-self: stretch;
  }

  .div-4 {
    align-self: stretch;
    justify-content: space-between;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .img-2 {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 1.008rem;
    stroke-width: 0.126rem;
    stroke: #b8dff0;
    margin: auto 0;
  }


  .contact-us-btn {
    justify-content: center;
    border-radius: 6.3rem;
    box-shadow: 0rem 0.63rem 2.835rem 0rem rgba(82, 100, 152, 0.25);
    background-color: #9dd2eb;
    color: #000;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    padding: 1.25rem 2.142rem;
    font: 600 1.134rem Work Sans, sans-serif;
    text-decoration: none;
  }

  .div-4 .navbar {
    padding: 0;
  }

  .container-fluid {
    background: #080c1b;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-nav a.nav-link {
    color: #fff;
    padding: 0.63rem 1.26rem;
    text-align: center;
    display: inline-block;
    font: 500 1.134rem Work Sans, sans-serif;
    position: relative;
  }

  .dropdown-menu.show {
    background: none;
    padding: 1.26rem;
    border-radius: 1.26rem;

    .dropdown-item {
      color: #000000;
      position: relative;
    }

    &:before {
      content: '';
      background: #fff;
      opacity: 0.8;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 1.26rem;
    }
  }

  .dropdown-item:focus,
  .dropdown-item:hover {
    // padding-left: 1.26rem;
    background-color: initial;
  }

  .navbar-toggler {
    background: #ffffff;
  }


  /* ------------ mobile menu after 64.512rem --------------- */

  @media (max-width: 1024px) {

    //1024
    .navbar-expand-custom .navbar-toggler {
      display: block !important;
    }

    .navbar-expand-custom .navbar-collapse {
      display: none !important;
    }

    .navbar-expand-custom .navbar-toggler-icon {
      display: inline-block !important;
    }

    .navbar-expand-custom .navbar-toggler[aria-expanded="true"]+.navbar-collapse {
      display: block !important;
    }

    .div-4 {
      order: 3;
      display: inline-block;
      margin: auto 0;
    }

    .contact-us-btn {
      order: 2;
      display: inline-block;
      margin: auto 0.315rem auto auto;
    }

    #navbarSupportedContent {
      width: 100%;
      position: fixed;
      top: 8.064rem;
      left: 0rem;

      .navbar-nav {
        position: relative;
        border-radius: 1.26rem;
        display: flex;
        flex-direction: column;
        max-width: 31.5rem;
        margin: 0 0 0 auto;
        backdrop-filter: blur(0.252rem);
        padding: 1.89rem;
        text-align: right;

        .nav-link {
          color: #000;
        }

        &:before {
          content: '';
          background: #fff;
          opacity: 0.8;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 1.26rem;
        }
      }
    }

    .dropdown-menu.show {
      border: 0;

      &:before {
        content: initial;
      }
    }
  }

  // dropdown-menu

  @media (max-width: 620px) {

    //620
    .contact-us-btn {
      display: none;
    }
  }

  @media (max-width: 420px) {

    //420
    .el-consultum-logo .div-3 {
      font-size: 1rem;
    }
  }

  .navbar-light .navbar-toggler-icon {
    height: 3.78rem;
    width: 3.78rem;
    background-image: url("./assets/img/burger.svg");
  }

  .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    background-image: url("./assets/img/burger_criss.svg");
  }

  .navbar-toggler {
    background: none;
    padding: 0;
  }

}