section.testimonials {
  padding-top: 5.04rem;

  h2 {
    color: #080C1B;
    font-family: Work Sans, sans-serif;
    font-size: 5.04rem;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    padding-bottom: 1.26rem;
  }

  .desc {
    color: #666B81;
    font-family: Work Sans, sans-serif;
    font-size: 1.26rem;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    max-width: 44.352rem;
  }

  /* ------------------- */
  .excellent-review {
    display: flex;
    max-width: 13.23rem;
    flex-direction: column;
    white-space: nowrap;
    line-height: 100%;

    .div-2 {
      display: flex;
      width: 100%;
      padding-left: 3.087rem;
      flex-direction: column;
      font-size: 2.016rem;
      color: var(--black, #080c1b);
      font-weight: 500;
    }

    .div-3 {
      font-family: Work Sans, sans-serif;
      align-self: start;
      margin-left: 0.945rem;
    }

    .img {
      aspect-ratio: 5.26;
      object-position: center;
      width: 10.143rem;
      align-self: center;
      margin-top: 1.008rem;
    }

    .div-4 {
      display: flex;
      margin-top: 0.63rem;
      padding-right: 1.26rem;
      justify-content: space-between;
      gap: 0.63rem;
      font-size: 1.134rem;
    }

    .div-5 {
      color: var(--text, #666b81);
      font-family: Work Sans, sans-serif;
      font-weight: 400;
      flex-grow: 1;
    }

    .div-6 {
      color: var(--black, #080c1b);
      font-family: Work Sans, sans-serif;
      font-weight: 700;
      flex-grow: 1;
    }

    .img-2 {
      aspect-ratio: 2.94;
      object-position: center;
      width: 11.214rem;
      align-self: center;
      max-width: 11.214rem;
      margin: 0.63rem 0 0 2.016rem;
    }
  }

  .testimonials-part-1 {
    display: flex;
    justify-content: space-between;
  }

  .testimonials-part-2 {
    display: flex;
    padding: 2.52rem 0 3.15rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1000px) {

    //1000
    .testimonials-part-2 {
      justify-content: space-around;
    }

    .testimonials-part-1 {
      .right{
        padding-top: 3.5rem;
      }
    }
  }

  @media screen and (max-width: 600px) { //600
    .testimonials-part-1 {
      flex-direction: column;
    }
  }
}