.el-btn {
  display: inline-block;
  position: relative;
  padding: 24px 40px 24px 40px;
  border-radius: 100px;
  background: #6373B5;
  color: #ffffff;
  font-family: Work Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 4%;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}