.el-box-review {
  display: flex;
  max-width: 15.12rem;
  flex-direction: column;
  font-size: 0.882rem;
  line-height: 1.386rem;
  padding: 1.26rem 0;
  margin: 0 1.008rem;

  .div-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0.882rem;
    color: #1a202c;
    font-weight: 400;
    white-space: nowrap;
    line-height: 100%;
  }

  .img {
    width: 5.796rem;
    flex: 1;
  }

  .div-3 {
    display: flex;
    gap: 0.252rem;
    margin: auto 0;
    padding: 0 1.26rem;
  }

  .img-2 {
    width: 0.693rem;
  }

  .div-4 {
    font-family: Poppins, sans-serif;
  }

  .div-5 {
    color: #080c1b;
    text-shadow: 0rem 0.252rem 0.252rem rgba(0, 0, 0, 0.25);
    margin-top: 0.945rem;
    width: 100%;
    font: 700 1.134rem Poppins, sans-serif;
  }

  .div-6 {
    color: #666b81;
    margin-top: 0.63rem;
    width: 100%;
    font: 400 1.008rem Work Sans, sans-serif;
  }

  .div-7 {
    display: flex;
    margin-top: 0.945rem;
    justify-content: space-between;
    gap: 0.252rem;
    line-height: 86%;
  }

  .div-8 {
    color: #6373b5;
    font-family: Work Sans, sans-serif;
    font-weight: 700;
    flex-grow: 1;
    white-space: nowrap;
  }

  .div-9 {
    color: #666b81;
    font-family: Work Sans, sans-serif;
    font-weight: 400;
    flex-grow: 1;
    flex-basis: auto;
  }
}