section.how-it-works {
  &.e1-page {
    padding: 2.52rem 0 5.04rem;
  }

  .bottom-block{
    display: flex;
    justify-content: center;
    gap: 1.638rem;
  }

  @media screen and (max-width: 600px) {
    .bottom-block{
      flex-direction: column;
      align-items: center;
    }
  }
}