section.prerequisites-for-reports {
  padding-top: 5.04rem;

  h2 {
    text-align: center;
    line-height: 120%;
    padding-bottom: 5.67rem;
  }

  .boxes {
    display: flex;
    justify-content: center;

    img.passport {
      position: relative;
      top: -3.15rem;
      margin-right: 1.89rem;
      margin-left: 6.3rem;
      width: 22.869rem;
      height: 29.862rem;
    }

    ul {
      max-width: 26.46rem;

      li {
        padding-bottom: 2.52rem;
        color: #080C1B;
        font-family: Work Sans, sans-serif;
        font-size: 1.26rem;
        font-weight: 400;
        line-height: 140%;
        text-align: left;
      }
    }
  }

  @media screen and (max-width: 900px) {

    //900
    .boxes {
      flex-direction: column;
      align-items: center;
    }

    h2 {
      padding-bottom: 2.52rem;
    }

    ul.first {
      margin-bottom: 2.52rem;
    }

    .boxes {
      img.passport {
        margin: 0 0 0.63rem 0;
      }
    }
  }

  @media screen and (max-width: 600px) {

    //600  
    .boxes {
      img.passport {
        width: 100%;
        height: initial;
      }
    }
  }
}