section.what-is-e1 {
  position: relative;
  padding: 5.04rem 0 0;

  h2 {
    font-family: Work Sans;
    font-size: 5.04rem;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    padding: 0 1.008rem;

    span {
      color: rgb(99, 115, 181);
    }
  }

  .desc {
    color: rgb(102, 107, 129);
    font-family: Work Sans;
    font-size: 1.134rem;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    max-width: 50.4rem;
    padding: 1.26rem 1.008rem 1.89rem;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      content: '';
      width: 34.272rem;
      height: 42.525rem;
      background-image: url("./assets/img/young_man_with_flag.webp");
      background-size: 100%;
      bottom: -1.26rem;
      left: 67rem;
      z-index: 1;
    }
  }

  .pdf-block {
    background-color: #6373B5;
    min-height: 6.93rem;
  }

  .pdf-inside {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 6.93rem;
  }

  .pdf-img {
    padding-right: 1rem;
    width: 5.67rem;
  }

  .upload-img {
    width: 4.41rem;
  }

  .pdf-link {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 2.016rem;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    text-decoration-line: underline;

    span {
      padding-right: 2.52rem;
    }
  }

  @media screen and (min-width: 1930px) {
    .desc {
      &:after {
        left: 110%;

        z-index: 1;
      }
    }
  }

  @media screen and (max-width: 1000px) {

    //1000
    .desc {
      max-width: 100%;
      padding-bottom: 23.94rem;

      &:after {
        width: 18.9rem;
        height: 23.436rem;
        right: 0.63rem;
        left: initial;
        bottom: initial;
      }
    }
  }

  @media screen and (max-width: 600px) {

    //600
    .pdf-img {
      width: 60px;
    }

    .upload-img {
      width: 40px;
    }

    .pdf-link {
      span {
        font-size: 20px;
        line-height: 0;
      }
    }
  }
}