section.what-qualifications {
  h2 {
    font-family: Work Sans;
    font-size: 5.04rem;
    font-weight: 600;
    line-height: 120%;
    text-align: left;

    span {
      color: #6373B5;
      font-style: italic;
    }
  }

  .desc {
    font-family: Work Sans;
    font-size: 1.26rem;
    font-weight: 400;
    line-height: 160%;
    text-align: left;
    color: #666B81;
    max-width: 54.432rem;
  }

  h3 {
    font-weight: 600;
    color: #6373B5;
    font-family: Work Sans;
    font-size: 1.26rem;
    font-style: italic;
    padding: 1.89rem 0 1.26rem;
  }

  .what-qualifications-block {
    display: flex;
  }

  @media screen and (max-width: 900px) {
    .what-qualifications-block {
      flex-direction: column;
    }

    h2 {
      padding-bottom: 1.26rem;
    }
  }
}