.el-phone-block {
  max-width: 19.026rem;
  justify-content: space-between;
  border-radius: 6.3rem;
  background-color: var(--white, #fff);
  display: flex;
  gap: 0.63rem;
  font-size: 1.512rem;
  color: var(--fiolet-primary, #6373b5);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.06048rem;

  .phone-text {
    text-align: left;
    font-family: Work Sans, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    white-space: nowrap;
    padding-right: 1.638rem;
  }

  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 4.032rem;
  }
}