.el-phone-block {
  max-width: 302px;
  justify-content: space-between;
  border-radius: 100px;
  background-color: var(--white, #fff);
  display: flex;
  gap: 10px;
  font-size: 24px;
  color: var(--fiolet-primary, #6373b5);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.96px;

  .phone-text {
    text-align: left;
    font-family: Work Sans, sans-serif;
    flex-grow: 1;
    flex-basis: auto;
    margin: auto 0;
    white-space: nowrap;
    padding-right: 26px;
  }

  .img {
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    width: 64px;
  }
}